{% extends '::base4.html.twig' %}
{% block titular %}
Informacion  Del insertado
{% endblock %}
{% block body %}

  <div style="margin:0 auto;">
    Nombre:{{tapasId.nombre}}<br>
    Descripcion:{{tapasId.descripcion}}<br>
    Precio:{{tapasId.precio}}<br>
    Foto:{{tapasId.foto}}
  </div>
{% endblock %}
