{% extends '::base4.html.twig' %}
{% block titular %}
Informacion  Del insertado
{% endblock %}
{% block body %}

  <div style="margin:0 auto;">
    Nombre:{{ultimoInsertado.nombre}}<br>
    Descripcion:{{ultimoInsertado.descripcion}}<br>
    Precio:{{ultimoInsertado.precio}}<br>
    Foto:{{ultimoInsertado.foto}}
  </div>
{% endblock %}
